@model Dm.Common.Models.ForgotPassword

@{
    ViewData["Title"] = "ForgotPassword";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>ForgotPassword</h2>


<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="ForgotPassword">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Email" class="control-label"></label>
                <input asp-for="Email" class="form-control" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Password"  class="control-label">New Password</label>
                <input asp-for="Password" class="form-control" />
                <div style="margin-bottom: 12px;"><input type="checkbox" onchange="document.getElementById('Password').type=this.checked?'text':'Password'"><span style="margin-left: 6px;">Show Password</span></div>
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Confirm_Password" class="control-label">Confirm Password</label>
                <input asp-for="Confirm_Password" ID="password" class="form-control" />
                <div style="margin-bottom: 12px;"><input type="checkbox" onchange="document.getElementById('password').type=this.checked?'text':'password'"><span style="margin-left: 6px;">Show Password</span></div>
                <span asp-validation-for="Confirm_Password" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Submit" class="btn btn-success" />
            </div>
        </form>
        
    </div>
</div>


